<!DOCTYPE html>
<html>

<head>
  <title>Luân Drive</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
  <style>
    body {
      padding-top: 80px;
      word-wrap: break-word;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="page-header text-center">
      <h1>IT4483 2020I - App lưu trữ media :)</h1>
    </div>

    <div class="row">
      <!-- GOOGLE INFORMATION -->
      <div class="col-sm-12 col-md-6">
        <div class="well">
          <h3 class="text-danger">
            <span class="fa fa-google-plus"></span> Google
          </h3>

          <p>
            <strong>Tên drive</strong>: <%= name %>
            <br />
            <% if (pic) { %>
              <strong>Link Drive: </strong>: <a href = "https://drive.google.com/drive/u/1/folders/<%= rootFolderId %>" target="_blank">https://drive.google.com/drive/u/1/folders/<%= rootFolderId %></a>
              <%}%>
            <br />
            <img src="<%=pic%>" width="200" height="200" alt="" />
          </p>
        </div>
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="well">
          <h3 class="text-danger">
            <span class="fa fa-google-plus"></span> Ví dụ upload file ảnh hoặc videos
          </h3>

          <% if (success) { %>
          <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>Success!</strong> Your File is Uploaded. <br />
            <% if (pic) { %>
            <a href="<%=pic%>" target="_blank">CLick to view</a>
            <%}%>
             
          </div>
          <%}%>
            <form action="/upload?token=000000&folder=images" method="POST" enctype="multipart/form-data"
              id="upload_form">
              <div class="form-group">
                <div class="form-group">
                  <label for="token">Token</label>
                  <select class="form-control" id="token">
                    <option value="000000"><b>000000</b> Nhóm lưới điện</option>
                    <option value="111111"><b>111111</b> Nhóm đê điều</option>
                    <option value="222222"><b>222222</b> Nhóm cháy rừng</option>
                    <option value="333333"><b>333333</b> Nhóm cây trồng</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="folder">Thư mục</label>
                  <select class="form-control" id="folder">
                    <option value="images">Lưu thư mục <b>images</b></option>
                    <option value="videos">Lưu thư mục <b>videos</b></option>
                  </select>
                </div>
                <input type="file" class="form-control" name="file" required id="" />
              </div>
              <div class="form-group">
                <button class="btn btn-block btn-danger">
                  Upload File
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="well">
          <p>
            <strong>Cấu trúc thư mục trong drive</strong>
            <br />
            <img src="https://i.imgur.com/4rLOYnr.png" width="100%" height="100%" alt="" />
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="well">
          <p>
            <strong>API cung cấp</strong>
            <br />
            <h4><b>GET </b>/getAllImages?token=YOUR_GROUP_TOKEN</h4>
            <p>- API này dùng để lấy tất cả các ảnh ở trong folder của project (lưu trong thư mục images)</p>
            <h4><b>GET </b>/getAllVideos?token=YOUR_GROUP_TOKEN</h4>
            <p>- API này dùng để lấy tất cả các videos ở trong folder của project (lưu trong thư mục videos)</p>
            <h4><b>POST </b>/upload?token=YOUR_GROUP_TOKEN&folder=[images hoặc videos]</h4>
            <p>- API này dùng để upload videos hoặc ảnh lên project của nhóm</p>
            <h4>- Token dùng để mình phân biệt thư mục của từng dự án, tránh ông này code dự án này upload lên dự án nọ :)</h4>
            <h5>--- Token của nhóm lưới điện là <b>000000</b></h5>
            <h5>--- Token của nhóm đê điều là <b>111111</b></h5>
            <h5>--- Token của nhóm cháy rừng là <b>222222</b></h5>
            <h5>--- Token của nhóm cây trồng là <b>333333</b></h5>
            
            <h4>- Folder để lưu thì chỉ lưu 2 folders: images cho ảnh và videos cho videos :)</h4>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- GOOGLE INFORMATION -->
      
    </div>
</body>
<script type="text/javascript">
  var url = "/upload?token=000000&folder=images";
  $(document).ready(function () {
    $("#token").on("click", function () {
      let token = $(this).val();
      let folder = $("#folder").val();
      $("#upload_form").attr("action", `/upload?token=${token}&folder=${folder}`);
    });
    $("#folder").on("click", function () {
      let folder = $(this).val();
      let token = $("#token").val();
      $("#upload_form").attr("action", `/upload?token=${token}&folder=${folder}`);
    });
  });
</script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</html>